<link rel="stylesheet" href="/css/{{style}}">

{{#business}}
<div class="bizItem">
  <h1 id="name">{{name}}</h1>
  <img id="img" src="{{url}}"></a>
  <h3 id="author">Posted By: {{author}}</h3><br>
  <h2 id="descript">Description: {{description}}</h2>

</div>
<a href="/businesses/{{id}}/edit"><button type="button">Edit Post</button></a>

<form action="/businesses/{{id}}?_method=DELETE" method="post">
  <button type="submit">Delete Post</button>
</form>
{{/business}}