{{#business}}
<div class="bizItem">
<img src="{{url}}"></a>
<h3>Posted By: {{author}}</h3><br>
<h2>Description: {{description}}</h2>

</div>
<a href="/businesses/{{id}}/edit"><button type="button">Edit Post</button></a>

<form action="/businesses/{{id}}?_method=DELETE" method="post">
  <button type="submit">Delete Post</button>
</form>
{{/business}}

