<link rel="stylesheet" type="text/css" href="css/{{style}}">

<link
    href="https://fonts.googleapis.com/css?family=Abel|Alegreya+Sans+SC|Anton|Arima+Madurai|Bevan|Bree+Serif|Courgette|Dosis|Julius+Sans+One|Magra|Poppins|Puritan|Raleway|Sniglet|Special+Elite"
    rel="stylesheet">
<form id='logout' action="/businesses/auth/logout" method="post" enctype="application/x-www-form-urlencoded">
    <button type='logout' form='logout' value="logout">Log Out</button>
</form><br>
<div class="col1">
    <h1 id="exp">EXPERIENCE KAKAAKO</h1>

    <img id="cruise"
        src="https://slack-imgs.com/?c=1&url=https%3A%2F%2Fhellojetlag.com%2Fwp-content%2Fuploads%2F2018%2F06%2FKakaako-1-3.jpg"
        alt="Kakaako Banner">
    <div class="des">
        <p id="kdescript">Kaka’ako is a hip area known for its vibrant food scene. Juice bars and casual eateries
            serving
            craft
            beer and Hawaiian farm fare fill the SALT complex, while the Kaka’ako Farmers’ Market sells coconuts and
            local
            coffee.</p>
    </div>

    <a href="/"><button type="button">Back To Homepage</button></a>
    <a href="/businesses/new"><button id="post" type="button">Create A New Post</button></a>
    {{!-- <form id='logout' action="/businesses/auth/logout" method="post" enctype="application/x-www-form-urlencoded">
        <button type='logout' form='logout' value="logout">LOG OUT</button>
    </form><br> --}}
</div>

<div class="col2">

    <h2 id="newFood">What's New?</h2>
    <div class="daFood">
        {{#each business}}
        <br>
        <a href="/businesses/{{id}}">
            <img class="foodPics" src="{{url}}"></a>

        <h2 id="author">
            Posted By: {{author}}
        </h2>
        {{!-- <p>{{description}}</p> --}}
        <br>



        {{/each}}
    </div>
</div>